{% extends 'website/base.html' %}

{% load static %}

{% block content %}
<br>
    <div class="container">


                <h4>Admission Requirements</h4>
                <button class="collapsible" onclick="displayText();">Master of Arts in Education/Doctor of Education/Doctor of Philosophy</button>
                    <div class="content">
                        <ul>
                            <li>For Education Graduates</li>
                                    <ul>
                                        <li>Bachelor’s degree from a duly accredited institution in any of the following:</li>
                                        <ol>
                                            <li>Bachelor of Science in Elementary Education</li>
                                            <li>Bachelor of Science in Secondary Education</li>
                                        </ol>
                                        <li>Proficient in English language</li>
                                        <li>Submission of all documents required (ADMISSION DOCUMENT REQUIREMENTS AND PROCEDURES)</li>
                                        <li>Passed the Admission Test</li>
                                        <li>Interview with the Graduates School Dean or his representative</li>
                                        <li>Interview with the Graduates School Dean or his representative</li>
                                    </ul>
                            <li>For Non-Education Graduates</li>
                                <ul>
                                    <li>Finished 12 units of Educations unit in the College of Education before enrolling in the graduate school (Foundation subjects, Principles and Techniques of Teaching, Measurement and Evaluations and Philosophy of Education)</li>
                                    <li>Proficient in English language</li>
                                    <li>Submission of all documents required (ADMISSION DOCUMENT REQUIREMENTS AND PROCEDURES)</li>
                                    <li>Passed the Admission Test</li>
                                    <li>Interview with the Graduates School Dean or his representative</li>
                                </ul>
                            <li>For EDD/PHD program</li>
                                <ul>
                                    <li>Finished Master’s Degree in Education</li>
                                </ul>
                        </ul>
                    </div>
                <button class="collapsible" onclick="displayText();">Doctor of Philosophy major in Business Management</button>
                    <div class="content">
                        <ul>
                            <li>Master’s degree in Business and Management and other related field from a duly accredited institution and General Weighted Average of not less than 90% (1.75) in Major Program/Professional Courses and proficiency in oral and written language. These qualifications shall be determined through:</li>
                            <ul>
                                <li>Academic credentials</li>
                                <li>Graduate level test and interview</li>
                                <li>Recommendation of 3 recognized professors in the disciplines/professional area concerned;</li>
                                <li>Character references</li>
                            </ul>
                        </ul>
                    </div>
                <button class="collapsible" onclick="displayText();">Doctor of Philosophy major in Development Management</button>
                    <div class="content">
                        <ul>
                            <li>Master’s degree earned from a recognized institution of higher learning</li>
                            <li>Passed the Admission Test</li>
                            <li>Submission of all documents required</li>
                            <li>Proficient in oral and written language</li>
                            <li>Interview with the Graduate School Dean or his representative</li>
                        </ul>
                    </div>
                <button class="collapsible" onclick="displayText();">Master in Business Administration</button>
                    <div class="content">
                        <ul>
                            <li>Bachelor’s degree from a duly accredited institution and a General Weighted Average of not less than 85% (2.0) in Major Program/Professional Courses. For programs without accounting, management, statistics and economics. Student are required to take their supplemental subject in the said areas.</li>
                            <li>Submission of all documents required (ADMISSION DOCUMENT REQUIREMENTS AND PROCEDURES)</li>
                            <li>Passed the Admission Test</li>
                            <li>Interview with the Graduate School Dean or his representative.</li>

                        </ul>
                    </div>
                <button class="collapsible" onclick="displayText();">Master in Business Administration major in Hospital Administration</button>
                    <div class="content">
                        <ul>
                            <li>Bachelor’s degree in any Medical Programs or any related and Business Programs but with experience in Hospital Operation from a duly accredited institution and a General Weighted Average of not less than 85% (2.0) in Major Program/Professional Courses. For programs without accounting, management, statistics and economics, students are required to take their supplemental subjects in the said areas</li>
                            <li>Submission of all documents required</li>
                            <li>Passed the Admission Test</li>
                            <li>Interview with the Graduate School Dean or his representative</li>
                        </ul>
                    </div>
                <button class="collapsible" onclick="displayText();">Master in Business Administration major in Hospitality and Tourism Management</button>
                    <div class="content">
                        <ul>
                            <li>Bachelor’s degree in Hospitality Program or any related field from a duly accredited institution and a General Weighted Average of not less than 85% (2.0) in Major Program/Professional Courses. For programs without accounting management, statistics, and economics, students are required to take their supplementary subjects in the said areas</li>
                            <li>Submission of all documents required.</li>
                            <li>Passed the Admission Test</li>
                            <li>Interview with the Graduate School Dean or his representative.</li>
                        </ul>
                    </div>
                <button class="collapsible" onclick="displayText()">Master in Public Administration</button>
                    <div class="content">
                        <ul>
                            <li>Bachelor’s degree from a duly accredited institution</li>
                            <li>Passed the Admission Test</li>
                            <li>Submission of all documents required</li>
                            <li>Proficient in oral and written language</li>
                            <li>Interview with the Graduate School Dean or his representative</li>
                        </ul>
                    </div>
                <button class="collapsible" onclick="displayText()">Master in Science in Computer Science/Information System/Information Technology</button>
                    <div class="content">
                        <ul>
                            <li>Bachelor’s degree from a duly accredited institution in any of the following:</li>
                                <ul>
                                    <li>Information Technology or Information Systems or Computer Science</li>
                                    <li>Computer Engineering, other Engineering Programs</li>
                                    <li>Mathematic and Applied Science</li>
                                </ul>
                                <span>and a General Weighted Average of not less than 85% (2.0) in Computer Science/Professional Courses and Mathematics.</span>
                            <li>Proficient in imperative and object-oriented programming and other high-level programming languages.</li>
                            <li>Submission of all documents required</li>
                            <li>Interview with the Graduate School Dean or his representative</li>
                        </ul>
                    </div>
                <button class="collapsible" onclick="displayText()">Master in Arts in Guidance and Counseling</button>
                    <div class="content">
                        <ul>
                            <li>BS/AB Guidance and Counseling or allied field or at least 18 units of undergraduate course in Guidance and Counseling or Behavioral Science from a duly accredited institution here and abroad</li>
                            <li>At least one-year experience in the field of Guidance and Counseling or allied field.</li>
                            <li>Proficiency in oral and written English</li>
                            <li>General Weighted Average of not less than 85% (2.0) in English, Math and Science/Professional Courses. These qualifications shall be determined through</li>
                                <ul>
                                    <li>Academic Credentials</li>
                                    <li>Graduate Level Test(GLT)</li>
                                    <li>Interview with the Dean and/or the Program Chair</li>
                                    <li>Recommendations of 3 recognized individuals in the discipline/professionals’ area concerned</li>
                                    <li>Character Reference</li>
                                </ul>
                            <li>Submission of all documents required</li>
                        </ul>
                    </div>
                <button class="collapsible" onclick="displayText()">Master of Arts in Nursing</button>
                    <div class="content">
                        <ul>
                            <li>BS Nursing degree from a government recognized institution</li>
                            <li>Documents Required:</li>
                            <ul>
                                <li>Transcript of Record</li>
                                <li>PRC license as Nurse</li>
                                <li>Letters of Recommendation</li>
                                <li>2x2 ID Picture</li>
                            </ul>
                            <li>Passed the following</li>
                                <ul>
                                    <li>RBGS admission test</li>
                                    <li>Interview (with the Dean of RBGS or Chairperson)</li>
                                </ul>
                        </ul>
                    </div>
        <br><br>
            <h4>ADMISSION DOCUMENT REQUIREMENTS AND PROCEDURES</h4>
            <ol>
                <li>Accomplish Application Form and submit this to the GS Office together with the:</li>
                    <ul>
                        <li>Transcript of Records</li>
                        <li>Certificate of Honorable Dismissal</li>
                        <li>Two (2) Letters of Recommendation</li>
                        <li>Two (2) 2x2 ID pictures</li>
                    </ul>
                <li>Take RBGS Admission Test</li>
                <li>Set/ask for an interview schedule from Graduate School Office</li>
                <li>After the evaluation, accepted students should submit to the Registrar’s Office the Transcript of Records, Honorable Dismissal, and Enrollment Form.</li>
            </ol>
    </div>
{% endblock %}
