{% extends 'website/base.html' %}

{% load static %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <div class="container">
        <div class="row mx-auto">
            <div class="col-lg-12">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="basicExampleNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                          <a class="nav-link" href="/"> Home
                            <span class="sr-only"></span>
                          </a>
                        </li>
                        <li class="nav-item dropdown menu-large ml-4">
                          <a class="nav-link dropdown-toggle dropdown-toggle-split" href="programs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programs</a>
                          <div class="dropdown-menu" aria-labelledby="dropdown07">
                                <a class="dropdown-item" href="/list">All Programs</a>
                                <a class="dropdown-item" href="/program">Program Departments</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/education">Education</a>
                                <a class="dropdown-item" href="/business">Business Management and Administration</a>
                                <a class="dropdown-item" href="/administration">Public Administration and Governance</a>
                                <a class="dropdown-item" href="/management">Development Management</a>
                                <a class="dropdown-item" href="/computer_studies">Computer Studies</a>
                                <a class="dropdown-item" href="/criminal_justice">Criminal Justice Education</a>
                                <a class="dropdown-item" href="/psychology">Psychology and Guidance and Counseling</a>
                                <a class="dropdown-item" href="/nursing">Nursing</a>

                          </div>
                        </li>
                        <li class="nav-item ml-4">
                          <a class="nav-link" href="/faculty">Faculty</a>
                        </li>
                        <li class="nav-item ml-4">
                          <a class="nav-link ml-4" href="/research">Researches</a>
                        </li>
                        <li class="nav-item ml-4">
                          <a class="nav-link" href="/outreach">Outreach</a>
                        </li>
                        <li class="nav-item ml-4 active">
                          <a class="nav-link" href="/contactus">Contact Us</a>
                        </li>
                        <li class="nav-item ml-4 dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Updates <i class="fa fa-bullhorn"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                <a class="dropdown-item" href="/upcomingevents">Upcoming Events</a>
                            <a class="dropdown-item" href="/news">News</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col lg-12">
            <div class="card">
                <div class="card-header info-color-dark text-white">
                        <h2 class=" text-center h1 py-2">Contact us</h2>
                </div>
                <div class="card-body">
                    <section>
                        <p class="text-center mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate
                            esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
                        <div class="row">
                            <div class="col-md-8 col-xl-9">
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <input type="text" id="contact-name" class="form-control" placeholder="Your name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="md-form">
                                                <input type="text" id="contact-email" class="form-control" placeholder="Your email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="md-form">
                                                <input type="text" id="contact-Subject" class="form-control" placeholder="Subject">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="md-form">
                                                <textarea type="text" id="contact-message" class="form-control md-textarea" rows="3" placeholder="Your message"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="text-center text-md-left">
                                    <a class="btn btn-primary btn-md">Send</a>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-3 text-center">
                                <ul class="list-unstyled">
                                    <li>
                                        <i class="fa fa-map-marker fa-2x blue-text"></i>
                                        <p>#51 Lizares Avenue, Bacolod City. Negros Occidental 6100</p>
                                    </li>

                                    <li>
                                        <i class="fa fa-phone fa-2x mt-4 blue-text"></i>
                                        <p>(034)-433-2449</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope fa-2x mt-4 blue-text"></i>
                                        <a href="mailto:unorbgs2016@gmail.com">
                                                <p>unorbgs2016@gmail.com</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>



        <!--<div class="row">-->
          <!--<div class="col-lg-12">-->
			<!--<div id = "map"> </div>-->
			    <!--<script>-->
      <!--function initMap() {-->
        <!--var uluru = {lat: 10.6580132, lng: 122.9485751};-->
        <!--var map = new google.maps.Map(document.getElementById('map'), {-->
          <!--zoom: 18,-->
          <!--center: uluru-->
        <!--});-->
        <!--var marker = new google.maps.Marker({-->
          <!--position: uluru,-->
          <!--map: map-->
        <!--});-->
      <!--}-->
    <!--</script>-->
    <!--<script async defer-->
    <!--src="https://maps.googleapis.com/maps/api/js?key= AIzaSyCuj4s_5a_cpvR3viO_IvLk2mlSSWHUGNU&callback=initMap">-->
    <!--</script>-->

          <!--</div>-->
        <!--</div>-->
<!--</div>-->

<!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="col-sm-8">-->
          <!--<h2 class="mt-4">How to find us</h2>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>-->
          <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>-->
        <!--</div>-->
        <!--<div class="col-sm-4">-->
          <!--<h2 class="mt-4">Contact Us</h2>-->
          <!--<address>-->
            <!--<strong>University of Negros Occidental - Recoletos</strong>-->
            <!--<br>#51 Lizares Avenue-->
            <!--<br>Bacolod City, Negros Occidental 6100-->
            <!--<br>-->
          <!--</address>-->
          <!--<address>-->
            <!--<abbr title="Phone">P:</abbr>-->
            <!--(034)-433-2449-->
            <!--<br>-->
            <!--<abbr title="Email">E:</abbr>-->
            <!--<a href="mailto:#">unorbgs2016@gmail.com</a>-->
          <!--</address>-->
        <!--</div>-->
      <!--</div>-->
    </div>
{% endblock %}