{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
        <div class="container">
            <span class="navbar-brand">
            (034) - 433 - 2449 | #51 Lizares Avenue, Bacolod City
            </span>
            <form class="form-inline">
              <input class="mr-sm-2" placeholder="Search" type="text">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit"><span style="color:white;">Search</span></button>
            </form>
          </div>
        </div>
    </nav>

    <br>
    <div class="navbar-header text-center">
        <a class="logo" href="http://su.edu.ph" title="Culture and Arts Council | Silliman University">
            <img height="75px" src="{% static 'website/images/unor-web-logo.png' %}" alt="Culture and Arts Council | Silliman University"/>
        </a>
        <div class="navbar-right callout-text">

        </div>
    </div>
    <br>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">

        <a class="navbar-brand" href="/">
            RBGS
        </a>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav navbar  ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"> Home
                <span class="sr-only"></span>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programs</a>
              <div class="dropdown-menu" aria-labelledby="dropdown07">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="research">Researches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="outreach">Outreach</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contactus">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="news">News</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



