{% extends 'website/base.html' %}
{% load static %}
{% block breadcrumb %}
<ol class="breadcrumb my-4">
    <li class="breadcrumb-item active"><a href="/news">News</a></li>
    <li class="breadcrumb-item active">{{object.news_title}}</li>
</ol>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <img class="img-fluid rounded card-img-top" src="{{ object.news_image.url }}" alt="">
        <div class="card-body">
            <h1 class="card-title">{{object.news_title}}</h1>
            <p class="lead"><i class="fas fa-user"></i> by {{ object.news_author }}</p>
            <hr>
            <p><i class="fas fa-calendar"> Posted on {{ object.news_date }} at {{ object.news_time }}</i></p>
            <hr>
            <p class="lead">
                {{object.news_shortdesc}}
            </p>
            <p>{{object.news_description}}</p>
        </div>
    </div>
    <br>
</div>
{% endblock %}