{% extends 'website/base.html' %}

{% load static %}

{% block content %}
<div class="container">
  <br>
  <div class="row">

    <div class="col-md-8">
        <div class="alert alert-heading" role="alert">
            <h1>
                <strong>Latest News</strong>
            </h1>
        </div>
        {% for NewsPost in news %}
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              {{NewsPost.news_title}}
            </div>
            <div class="card-body">
                    <img src="{{ NewsPost.news_image.url }}" alt="" class="col-sm-12">
                <p class="card-title" style="height:125px;">
                    {{ NewsPost.news_description }}
                </p>
                <hr>
              <p class="card-text"> Source: <a href="#">{{NewsPost.news_author}}</a></p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
        <br>
        {% endfor %}
    </div>

    <div class="col-md-4">
          <div class="card h-25">
            <div class="card-header">
              Search
            </div>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
              </div>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
    </div>
  </div>
  <br>
</div>
{% endblock %}