{% extends 'website/base.html' %}

{% load static %}
<div class="container">
{% block breadcrumb %}
<ol class="breadcrumb my-4">
  <li class="breadcrumb-item active">Program Departments</li>
</ol>
{% endblock %}
</div>

{% block content %}
    <br>
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                <div class="card-body">
                  <h4 class="card-title">Education</h4>
                  <p class="card-text">Current Availability: Yes </p>
                </div>
                <div class="card-footer">
                  <a href="education" class="btn btn-primary">Learn More</a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                <div class="card-body">
                  <h4 class="card-title">Business Management and Administration</h4>
                  <p class="card-text">Current Availability: Yes</p>
                </div>
                <div class="card-footer">
                  <a href="business" class="btn btn-primary">Learn More</a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                <div class="card-body">
                  <h4 class="card-title">Public Administration and Governance</h4>
                  <p class="card-text">Current Availability: Yes</p>
                </div>
                <div class="card-footer">
                  <a href="administration" class="btn btn-primary">Learn More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                <div class="card-body">
                  <h4 class="card-title">Development Management</h4>
                  <p class="card-text">Current Availability: No</p>
                </div>
                <div class="card-footer">
                  <a href="management" class="btn btn-primary">Learn More</a>
                </div>
              </div>
            </div>
      </div>
        <div class="row text-center">
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                <div class="card-body">
                  <h4 class="card-title">Computer Studies</h4>
                  <p class="card-text">Current Availability: Yes </p>
                </div>
                <div class="card-footer">
                  <a href="computer_studies" class="btn btn-primary">Learn More</a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                <div class="card-body">
                  <h4 class="card-title">Criminal Justice Education</h4>
                  <p class="card-text">Current Availability: Yes</p>
                </div>
                <div class="card-footer">
                  <a href="criminal_justice" class="btn btn-primary">Learn More</a>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                <div class="card-body">
                  <h4 class="card-title">Psychology and Guidance and Counseling</h4>
                  <p class="card-text">Current Availability: Yes</p>
                </div>
                <div class="card-footer">
                  <a href="psychology" class="btn btn-primary">Learn More</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                <div class="card-body">
                  <h4 class="card-title">Nursing</h4>
                  <p class="card-text">Current Availability: No</p>
                </div>
                <div class="card-footer">
                  <a href="nursing" class="btn btn-primary">Learn More</a>
                </div>
              </div>
            </div>
      </div>
    </div>
{% endblock %}